<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs; let i =index">
      <a [routerLink]="formatLink(breadcrumb.url)">
        {{ breadcrumb.breadcrumb.breadcrumb }}
      </a>
    </li>
  </ol>
</nav> -->

<ol class="breadcrumb m-0">
  <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
  <ng-container *ngFor="let breadcrumb of breadcrumbs">
    <li class="breadcrumb-item" *ngIf="breadcrumb.label.length != 0">
      <a [routerLink]="[breadcrumb.url]">{{ breadcrumb.label }}</a>
    </li>
  </ng-container>
</ol>