<div class="dashboard">
  <div class="container-fluid">
    <div class="card bg-white">
      <div class="card-header m-0 fw-bold fs-4">Select Course</div>
      <div class="card-body">
        <div class="select-course row g-3">
          <div class="select col-6">
            <select name="dept" class="w-100">
              <option value="0">Select Department</option>
              <option value="GE">General</option>
              <option value="CS">Computer Science</option>
              <option value="IS">Information Systems</option>
              <option value="IT">Information Technology</option>
              <option value="DS">Decision Support</option>
              <option value="AI">Artificial Intelligence</option>
            </select>
          </div>
          <div class="select col-6">
            <select name="course" class="w-100">
              <option value="0">Select Course</option>
              <option value="CS101">Introduction to Computer Science</option>
              <option value="CS102">Introduction to Programming</option>
              <option value="CS103">Data Structures</option>
              <option value="CS104">Algorithms</option>
              <option value="CS105">Computer Architecture</option>
              <option value="CS106">Operating Systems</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header m-0 fw-bold fs-4">Course grades analysis</div>
      <div class="card-body">
        <div class="select-course row g-3">
          <app-box
            class="col-3"
            [number]="4"
            [name]="'Number of students'"
            [color]="'10px solid red'"
          ></app-box>
          <app-box
            class="col-3"
            [number]="4"
            [name]="'Number of students'"
            [color]="'10px solid green'"
          ></app-box>
          <app-box
            class="col-3"
            [number]="4"
            [name]="'Number of students'"
            [color]="'10px solid blue'"
          ></app-box>
          <app-box
            class="col-3"
            [number]="4"
            [name]="'Number of students'"
            [color]="'10px solid yellow'"
          ></app-box>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header m-0 fw-bold fs-4">Course grades analysis</div>
      <div class="card-body">
        <div class="select-course row g-3">
          <div class="select col-8">
            <div class="text-center">
              <app-bar-chart></app-bar-chart>
              <h4>student grades distribution</h4>
            </div>
          </div>
          <div class="select col-4">
            <div class="text-center">
              <app-pie-chart></app-pie-chart>
              <h4>Pass / Fail ratio</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-4">
      <div class="card-header m-0 fw-bold fs-4">Ra'fa grades analysis</div>
      <div class="card-body">
        <div class="row align-items-center">
          <div class="select col-8">
            <div class="text-center">
              <app-line-chart></app-line-chart>
              <h4>Needed ra'fa grades</h4>
            </div>
          </div>
          <div class="select col-4">
            <div class="text-center">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Ra'fa grades</th>
                    <th scope="col">Number of students</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>7</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>2</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
