select {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 18px;
  color: var(--text-color);
  background: #fff;
}

/* .card-header {
  background-color: #2a3f54;
} */
