<header>
  <div class="page-title">
    <div class="title_left">
      <h3>History of Vistors</h3>
    </div>
    <div class="title_right">
      <div class="pull-right top_search">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search for course..."
            #searchInput
            (input)="searchCourse(searchInput.value)"
          />
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">UserName</th>
      <th scope="col">Time</th>
      <th scope="col">Change</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of filteredCourses">
      <tr
        (click)="toggleCollapse(data.id)"
        [attr.aria-expanded]="!isCollapsed(data.id)"
      >
        <th scope="row">{{ data.id }}</th>
        <td>{{ data.username }}</td>
        <td>{{ data.Time }}</td>
        <td>{{ data.change }}</td>
      </tr>
      <tr

        id="log{{ data.id }}"
        [ngClass]="{ collapse: true, show: !isCollapsed(data.id) }"
      >
        <td  colspan="4">
          <table class="table">
            <thead>
              <tr>
                <th>Before Change</th>
                <th>After Change</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngIf="data.before === 'null'">
                  -------- Nothing To Show --------
                </td>
                <td *ngIf="data.before !== 'null'">
                  <span class="data">{{ data.before }}</span>
                  <button
                    type="button"
                    class="btn btn-success"
                    *ngIf="data.Type === 'add'"
                    (click)="downloadFile()"
                  >
                    Download
                  </button>
                </td>

                <td>
                  <span class="data">{{ data.after }}</span>
                  <button
                    type="button"
                    class="btn btn-success"
                    *ngIf="data.Type === 'add' && data.after !== 'null'"
                    (click)="downloadFile()"
                  >
                    Download
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
