<app-snackbar
  #snackbar
  message="{{ message }}"
  type="{{ type }}"
></app-snackbar>
<div class="setup">
  <div class="container h-100">
    <div class="row h-100 justify-content-center">
      <div class="col-sm-10 col-lg-8 text-center">
        <form class="row g-3" #Form="ngForm" (ngSubmit)="onSubmit(Form.value)">
          <h1>Add User</h1>
          <hr />
          <div class="col-md-6">
            <label for="fullName" class="form-label"
              >Full Name<span class="required">*</span></label
            >
            <input
              class="form-control"
              data-validate-length-range="60 "
              data-validate-words="4 "
              name="name"
              required
              ngModel
              #name="ngModel"
            />
            <div *ngIf="name && name.invalid && (name.dirty || name.touched)">
              <div *ngIf="name.errors && name.errors['required']" class="error">
                Name is required.
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <label for="email" class="form-label"
              >Email<span class="required">*</span></label
            >

            <input
              class="form-control"
              name="email"
              required
              pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
              email
              type="email"
              ngModel
              #email="ngModel"
            />
            <div
              *ngIf="email && email.invalid && (email.dirty || email.touched)"
            >
              <div
                *ngIf="email.errors && email.errors['required']"
                class="error"
              >
                Email is required.
              </div>

              <div
                *ngIf="email.errors && email.errors['pattern']"
                class="error"
              >
                Email is invalid.
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <label for="password" class="form-label"
              >Password<span class="required">*</span></label
            >

            <input
              class="form-control"
              type="password"
              name="password"
              minlength="8"
              required="required "
              password
              ngModel
              #password="ngModel"
            />
            <div
              *ngIf="
                password &&
                password.invalid &&
                (password.dirty || password.touched)
              "
            >
              <div
                *ngIf="password.errors && password.errors['required']"
                class="error"
              >
                Password is required.
              </div>
              <div
                *ngIf="password.errors && password.errors['minlength']"
                class="error"
              >
                Password must be at least 8 characters.
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <label for="repassword" class="form-label"
              >Repeat Password<span class="required">*</span></label
            >
            <input
              class="form-control"
              type="password"
              name="password_confirmation"
              data-validate-linked="password"
              required="required"
              password
              ngModel
              #password2="ngModel"
            />
            <div
              *ngIf="
                password2 &&
                password2.invalid &&
                (password2.dirty || password2.touched)
              "
            >
              <div
                *ngIf="password2.errors && password2.errors['required']"
                class="error"
              >
                Password is required.
              </div>
              <div
                *ngIf="password2.errors && password2.errors['minlength']"
                class="error"
              >
                Password must be at least 8 characters.
              </div>
              <div
                *ngIf="password2.errors && password2.errors['Password']"
                class="error"
              >
                Passwords must match.
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <label for="NationalID" class="form-label"
              >National ID<span class="required">*</span></label
            >

            <input
              class="form-control"
              name="national_id"
              required
              pattern="[0-9]{14}"
              ngModel
              #number="ngModel"
            />
            <div
              *ngIf="
                number && number.invalid && (number.dirty || number.touched)
              "
            >
              <div
                *ngIf="number.errors && number.errors['required']"
                class="error"
              >
                National ID is required.
              </div>
              <div
                *ngIf="number.errors && number.errors['pattern']"
                class="error"
              >
                National ID is invalid.
              </div>
            </div>
          </div>

          <div
            class="col-md-6"
            style="padding-bottom: epx; padding-top: 45—; margin-top: 8px"
          >
            <!-- <label class="col-form-label col-md-3 col-sm-3 label-align me-3"
              >Rules*</label
            > -->
            <div class="col-md-6 col-sm-6 admin-style">
              <div id="Admin" class="d-flex">
                <input
                  type="checkbox"
                  name="is_admin"
                  class="input-style larger-checkbox"
                  ngModel
                  [(ngModel)]="isAdmin"
                />
                <label> &nbsp; Admin &nbsp; </label>
              </div>
            </div>
          </div>
          <div class="ln_solid">
            <div class="form-group">
              <div class="col-md-6 but-style">
                <button type="submit " class="btn btn-lg btn-success my-2 mx-2">
                  Add User
                </button>

                <button
                  (click)="resetForm(Form.value)"
                  type="reset"
                  class="btn btn-lg btn-primary my-2 mx-2"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
