.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  /* background: #fff; */
  background-color: var(--background-color-dark);
  border: 1px solid #e6e9ed;
  -webkit-column-break-inside: avoid;
  opacity: 1;
  transition: all 0.2s ease;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.setup {
  background: var(--background-color);
  height: 130vh;
  /* choose ugly font family */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
form input,
select {
  background: var(--background-color);
  border: 1px solid #dfe3e8;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: var(--text-color);
  display: block;
  font-size: 18px;
  height: 50px;
  line-height: 1.42857;
  margin-bottom: 10px;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.input-style {
  padding: 0 !important;
  margin: 0 !important;
  width: 15px;
}
form button {
  background: var(--button-color);
  /* border: 1px solid #16a085;
     */
  border: 1px solid #2a3f54;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 18px;
  height: 50px;
  line-height: 1.42857;
  margin-bottom: 10px;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.but-style {
  display: flex;
  width: auto;
}
form button:hover {
  background: var(--main-color-light);
  border: 1px solid #1e2b3a;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 18px;
  height: 50px;
  line-height: 1.42857;
  margin-bottom: 10px;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.form-header {
  /* background: #1abb9c; */
  color: var(--text-color);
  /* padding: 20px; */
  text-align: center;
}
.brand {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  color: var(--text-color);
  text-shadow: 0 1px 0 #fff;
}
form label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--text-color);
}
form {
  background-color: var(--background-color-dark);
  border-radius: 0.5rem;
  margin-top: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding: 30px;
}
.admin-style {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 15px;
}
.larger-checkbox {
  width: 30px;
  height: 25px;
}
@media (max-width: 768px) {
  form {
    width: 100%;
  }
}