<header>
  <div class="row">
    <div class="col-md-6">
      <h3>Add Students</h3>
    </div>
  </div>
</header>
<div class="row">
  <div class="x_panel col-8">
    <div class="x_title">
      <form class="row g-3" #Form="ngForm" (ngSubmit)="onSubmit(Form.value)">
        <div class="col-md-6">
          <label for="courseid" class="form-label">Full Name</label>
          <input
            class="form-control"
            type="text"
            name="fullname"
            required="required"
            ngModel
            #name="ngModel"
          />
          <div
            *ngIf="name && name.invalid && (name.dirty || name.touched)"
            class="mt-3"
          >
            <div *ngIf="name.errors && name.errors['required']" class="error">
              FullName is required.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="coursename" class="form-label">ID</label>
          <input
            class="form-control"
            type="number"
            name="number"
            required="required"
            ngModel
            #number="ngModel"
          />
          <div
            *ngIf="number && number.invalid && (number.dirty || number.touched)"
            class="mt-3"
          >
            <div
              *ngIf="number.errors && number.errors['required']"
              class="error"
            >
              ID is required.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="Level" class="form-label">Level</label>
          <input
            class="form-control"
            type="number"
            name="number"
            pattern="[1-4]"
            required="required"
            ngModel
            #number="ngModel"
          />
          <div
            *ngIf="number && number.invalid && (number.dirty || number.touched)"
            class="mt-3"
          >
            <div
              *ngIf="number.errors && number.errors['required']"
              class="error"
            >
              Level is required.
            </div>
            <div
              *ngIf="number.errors && number.errors['pattern']"
              class="error"
            >
              Level is invalid.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="coursedepartment" class="form-label"
            >Course Department</label
          >
          <select
            name="coursedepartment"
            ngModel
            required
            #courseDepartment="ngModel"
            id="coursedepartment"
            class="form-select"
          >
            <option selected>Choose...</option>
            <option>IS</option>
            <option>CS</option>
            <option>AI</option>
            <option>IT</option>
            <option>DS</option>
            <option>General</option>
          </select>
          <div
            *ngIf="
              courseDepartment &&
              courseDepartment.invalid &&
              (courseDepartment.dirty || courseDepartment.touched) &&
              courseDepartment.errors &&
              courseDepartment.errors['required']
            "
            class="error"
          >
            courseDepartment is required.
          </div>
        </div>

        <div class="ln_solid">
          <div class="form-group">
            <div class="col-md-6 offset-md-3">
              <button type="submit" class="btn btn-lg btn-success my-2 mx-2">
                Submit
              </button>
              <button type="reset" class="btn btn-lg btn-secondary my-2 mx-2">
                Reset
              </button>
            </div>
          </div>
        </div>
      </form>

      <div class="row"></div>
    </div>
  </div>
</div>

<div>
  <div class="x_panel col-8">
    <div class="x_title">
      <p class="fs-4">
        You can upload excel file to add group of students with this fildes
      </p>
      <input
        type="file"
        #f
        style="display: none"
        (change)="onFileSelected($event)"
      />
      <button
        type="upload"
        class="btn btn-lg btn-success my-2 mx-2"
        (click)="f.click()"
      >
        Upload
      </button>
    </div>
  </div>
</div>
