<div class="setup">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-sm-10 col-lg-8">
        <form
          class="bg-white p-4 shadow rounded-3"
          [formGroup]="form"
          (ngSubmit)="submitForm()"
        >
          <h1 class="fs-1 text-center mb-2 form-header">Register admin</h1>
          <hr />
          <div class="row">
            <div class="form-group mb-3 col-sm-12 col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="Enter you name"
                formControlName="name"
              />

              <div
                *ngIf="form.get('name').errors?.['required'] && form.get('name').touched"
                class="error"
              >
                Name is required
              </div>
            </div>
            <div class="form-group mb-3 col-sm-12 col-md-6">
              <input
                type="email"
                class="form-control"
                placeholder="Enter your email"
                formControlName="email"
              />
              <div
                *ngIf="form.get('email').errors?.['required'] && form.get('email').touched"
                class="error"
              >
                Email is required
              </div>
              <div
                *ngIf="form.get('email').errors?.['email'] && form.get('email').touched"
                class="error"
              >
                Invalid email format
              </div>
            </div>
            <div class="form-group mb-3 col-sm-12 col-md-6">
              <input
                type="password"
                class="form-control"
                placeholder="Enter you password"
                formControlName="password"
              />
              <div
                *ngIf="form.get('password').errors?.['required'] && form.get('password').touched"
                class="error"
              >
                Password is required
              </div>
              <div
                *ngIf="form.get('password').errors?.['minlength'] && form.get('password').touched"
                class="error"
              >
                Password must be at least 6 characters
              </div>
            </div>
            <div class="form-group mb-3 col-sm-12 col-md-6">
              <input
                type="password"
                class="form-control"
                placeholder="Repeat Password"
                formControlName="repeatPassword"
              />
              <div
                *ngIf="form.get('repeatPassword').errors?.['required'] && form.get('repeatPassword').touched"
                class="error"
              >
                Repeat Password is required
              </div>
              <div
                *ngIf="form.get('repeatPassword').errors?.['mismatchedPasswords'] && form.get('repeatPassword').touched"
                class="error"
              >
                Passwords do not match
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="National ID"
                formControlName="nationalId"
              />
              <div
                *ngIf="form.get('nationalId').errors?.['required'] && form.get('nationalId').touched"
                class="error"
              >
                National ID is required
              </div>
              <div
                *ngIf="form.get('nationalId').errors?.['pattern'] && form.get('nationalId').touched"
                class="error"
              >
                National ID must be a 14-digit number
              </div>
            </div>
          </div>
          <hr />
          <button class="btn btn-primary w-100" [disabled]="!form.valid">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
