.modal {
  display: block;
  position: fixed;
  top: 10%;
  z-index: 100000100 !important;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: var(--background-color-dark);
}

.modal select {
  background-color: var(--background-color);
}
