<app-snackbar
  #snackbar
  message="{{ message }}"
  type="{{ type }}"
></app-snackbar>
<div class="home-page">
  <div *ngIf="noCorseFound">
    <div
      class="container-fluid d-flex align-items-center justify-content-center h-100"
    >
      <div class="position-absolute top-50">
        <h1 class="text-center">No Courses Found</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="!noCorseFound">
    <div class="row">
      <div class="page-title">
        <div class="title_left">
          <h3>Assigned Courses</h3>
        </div>
        <div class="title_right">
          <div
            class="pull-right top_search d-flex justify-content-between w-100 align-items-center"
          >
            <select
              class="form-select"
              aria-label="Default select example"
              (change)="onSelectDepartment($event)"
            >
              <option value="all">All Departments</option>
              <option
                *ngFor="let department of departments"
                [value]="department.dept_code"
              >
                {{ department.dept_code }}
              </option>
            </select>
            <div class="input-group">
              <input
                type="text "
                class="form-control"
                placeholder="Search For Course... "
                #searchInput
                (input)="searchCourse(searchInput.value)"
              />
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button ">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row courses g-3 mt-2">
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      <div class="col-sm-12 col-md-4" *ngFor="let course of filterCourses">
        <div class="card">
          <div class="card-header m-0 fw-bold fs-4">
            {{ course.course_name }}
          </div>
          <div class="card-body">
            <h4 class="card-title fw-500">
              Course ID: {{ course.course_code }}
            </h4>
            <hr />
            <h5 class="card-subtitle mb-2">
              Number Of Students: {{ course.number_of_students }}
            </h5>
            <hr />
            <div class="d-flex justify-content-start">
              <h5 class="card-subtitle">Term: first</h5>
              <h5 class="card-subtitle ms-5">Year: 2019</h5>
            </div>
            <a
              routerLink="course/{{ course.course_id }}/{{ course.term_id }}"
              class="btn mt-3 button"
              >Edit Course Grades</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
