.page-title {
  width: 100%;
  height: 65px;
  padding: 10px 0;
}
.page-title .title_left {
  width: 45%;
  float: left;
  display: block;
}
.page-title .title_left h3 {
  margin: 9px 0;
}

.page-title .title_right {
  width: 55%;
  float: left;
  display: block;
}

.page-title .title_right .pull-right {
  margin: 10px 0;
  float: right;
}

.top_search {
  padding: 0;
}

/* .input-group {
  margin-bottom: 10px;
} */

.top_search .form-control {
  border-right: 0;
  box-shadow: inset 0 1px 0px rgb(0 0 0 / 8%);
  border-radius: 25px 0px 0px 25px;
  padding-left: 20px;
  border: 1px solid rgba(221, 226, 232, 0.49);
  width: 100px;
}
.input-group > .form-control,
.input-group > .form-control-plaintext {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.top_search .form-select {
  /* border-right: 0; */
  box-shadow: inset 0 1px 0px rgb(0 0 0 / 8%);
  border-radius: 25px;
  padding-left: 20px;
  border: 1px solid rgba(221, 226, 232, 0.49);
  margin-right: 15px;
}
.input-group > .form-select,
.input-group > .form-select-plaintext {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.top_search .input-group-btn button {
  border-radius: 0px 25px 25px 0px;
  border: 1px solid rgba(221, 226, 232, 0.49);
  border-left: 0;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  color: #f7f7f7;
  margin-bottom: 0 !important;
}
.button {
  background-color: var(--button-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
}
.card {
  background-color: var(--background-color-dark);
}
app-loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
