.box {
  /* background-color: #2a3f54; */
  /* background-color: var(--box-color); */
  color: #fff;
  /* width: ; */
  height: 100%;
  width: 100%;
  padding: 30px 20px;
  border-radius: 10px;
  font-size: 18px;
}

.number {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.name {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
