<div class="dashboard">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header m-0 fw-bold fs-4">Select Course</div>
      <div class="card-body">
        <div class="select-course row g-3">
          <div class="select col-6">
            <div class="d-flex">
              <div class="p-2">
                <h5>Course ID</h5>
                <p>{{ "courseCode" }}</p>
              </div>
              <div class="p-2">
                <h5>Course Name</h5>
                <p>{{ "courseName" }}</p>
              </div>
              <div class="p-2">
                <h5>Course Department</h5>
                <p>{{ "deptName" }}</p>
              </div>
              <div class="p-2">
                <h5>Course Instructor</h5>
                <p>{{ "instructor" }}</p>
              </div>
            </div>
            <div class="mt-4">
              <div class="d-flex justify-content-end">
                <!-- Add this div for right alignment -->
                <div class="p-2">
                  <h5>Add Extra Grades</h5>
                  <div class="p-2">
                    <input type="text" id="extraGradesInput" />
                  </div>
                </div>
                <div class="p-2">
                  <button
                    *ngIf="show"
                    type="button"
                    class="btn btn-primary"
                    (click)="showSaveCancelButtons()"
                  >
                    Apply Change
                  </button>
                </div>
                <div *ngIf="!show" id="saveCancelButtons">
                  <!-- Initially hide the save/cancel buttons -->
                  <div class="p-2">
                    <button type="button" class="btn btn-success">Save</button>
                  </div>
                  <div class="p-2">
                    <button type="button" class="btn btn-secondary">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header m-0 fw-bold fs-4">Course Grades Analysis</div>
      <div class="card-body">
        <div class="select-course row g-3">
          <div class="select col-8">
            <div class="text-center">
              <app-bar-chart width="327px" [data1]="bar"></app-bar-chart>
              <h4>Student Grades Distribution</h4>
            </div>
          </div>
          <div class="select col-4">
            <div class="text-center">
              <app-pie-chart [data1]="pie"></app-pie-chart>
              <h4>Pass / Fail ratio</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
