<app-snackbar
  #snackbar
  message="{{ message }}"
  type="{{ type }}"
></app-snackbar>
<div class="setup">
  <div class="container h-100">
    <div class="row h-100 justify-content-center">
      <div class="col-sm-10 col-lg-8 text-center">
        <div class="d-flex justify-content-center mt-5">
          <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        </div>

        <form
          class="row g-3"
          #Form="ngForm"
          *ngIf="!isLoading"
          (ngSubmit)="onSubmit(Form.value)"
        >
          <h1 class="fs-1 text-center mb-2 form-header">Course Settings</h1>
          <hr />
          <div class="col-md-6">
            <label for="courseid" class="form-label">Course ID</label>
            <input
              [(ngModel)]="course_code"
              name="course_code"
              required
              #courseId="ngModel"
              type="text"
              class="form-control"
              id="courseid"
            />
            <div
              *ngIf="
                courseId &&
                courseId.invalid &&
                (courseId.dirty || courseId.touched) &&
                courseId.errors &&
                courseId.errors['required']
              "
              class="error"
            >
              courseID is required.
            </div>
          </div>
          <div class="col-md-6">
            <label for="courseName" class="form-label">Course Name</label>
            <input
              [(ngModel)]="course_name"
              name="course_name"
              required
              #coursename="ngModel"
              type="text"
              class="form-control"
              id="courseName"
            />
            <div
              *ngIf="
                coursename &&
                coursename.invalid &&
                (coursename.dirty || coursename.touched) &&
                coursename.errors &&
                coursename.errors['required']
              "
              class="error"
            >
              courseName is required.
            </div>
          </div>
          <div class="col-md-6">
            <label for="coursedepartment" class="form-label"
              >Course Department</label
            >
            <select
              [(ngModel)]="department"
              name="department"
              required
              #courseDepartment="ngModel"
              class="form-select"
              id="coursedepartment"
            >
              <option value="" disabled selected>Select Department</option>
              <option
                *ngFor="let Department of departments"
                [value]="Department.dept_code"
              >
                {{ Department.dept_code }}
              </option>
            </select>
            <div
              *ngIf="
                courseDepartment &&
                courseDepartment.invalid &&
                (courseDepartment.dirty || courseDepartment.touched) &&
                courseDepartment.errors &&
                courseDepartment.errors['required']
              "
              class="error"
            >
              courseDepartment is required.
            </div>
          </div>
          <div class="col-md-6">
            <label for="courseinstructor" class="form-label"
              >Course Instructor</label
            >
            <input
              [(ngModel)]="instructor"
              name="instructor"
              required
              #courseInstructor="ngModel"
              type="text"
              class="form-control"
              id="courseinstructor"
            />
            <div
              *ngIf="
                courseInstructor &&
                courseInstructor.invalid &&
                (courseInstructor.dirty || courseInstructor.touched) &&
                courseInstructor.errors &&
                courseInstructor.errors['required']
              "
              class="error"
            >
              courseInstructor is required.
            </div>
          </div>
          <div class="col-md-6">
            <label for="coursetermwork" class="form-label"
              >Course Term Work</label
            >
            <input
              [(ngModel)]="term_work"
              type="number"
              name="term_work"
              required
              #courseTermWork="ngModel"
              class="form-control"
              id="coursetermwork"
              [disabled]="!isAdmin"
            />
            <div
              *ngIf="
                courseTermWork &&
                courseTermWork.invalid &&
                (courseTermWork.dirty || courseTermWork.touched) &&
                courseTermWork.errors &&
                courseTermWork.errors['required']
              "
              class="error"
            >
              courseTermWork is required.
            </div>
          </div>
          <div class="col-md-6">
            <label for="courseexamwork" class="form-label"
              >Course Exam Work</label
            >
            <input
              [(ngModel)]="exam_work"
              type="number"
              name="exam_work"
              required
              #courseExamWork="ngModel"
              class="form-control"
              id="courseexamwork"
              [disabled]="!isAdmin"
            />
            <div
              *ngIf="
                courseExamWork &&
                courseExamWork.invalid &&
                (courseExamWork.dirty || courseExamWork.touched) &&
                courseExamWork.errors &&
                courseExamWork.errors['required']
              "
              class="error"
            >
              courseExamWork is required.
            </div>
          </div>
          <div class="error">
            <div
              *ngIf="
                courseExamWork.value + courseTermWork.value !=
                courseCredits.value
              "
              class="error"
            >
              Course Term Work + Course Exam Work must be equal to
              {{ courseCredits.value }}.
            </div>
          </div>

          <div class="col-md-6">
            <label for="coursecredits" class="form-label">Total Grades</label>
            <input
              [(ngModel)]="total"
              name="total"
              required
              #courseCredits="ngModel"
              type="text"
              class="form-control"
              id="coursecredits"
              [disabled]="!isAdmin"
            />
            <div
              *ngIf="
                courseCredits &&
                courseCredits.invalid &&
                (courseCredits.dirty || courseCredits.touched) &&
                courseCredits.errors &&
                courseCredits.errors['required']
              "
              class="error"
            >
              Total grades is required.
            </div>
          </div>
          <div class="col-md-6">
            <!--Pass Mark -->
            <label for="passMark" class="form-label">Pass Mark</label>
            <input
              [(ngModel)]="passMark"
              name="passMark"
              required
              #pass_Mark="ngModel"
              type="text"
              class="form-control"
              id="passMark"
              [disabled]="!isAdmin"
            />
            <!-- <div
              *ngIf="
                passMark &&
                passMark.invalid &&
                (passMark.dirty || passMark.touched) &&
                passMark.errors &&
                passMark.errors['required']
              "
              class="error"
            >
              Pass Mark is required.
            </div> -->


            
          </div>
          <div class="col-12">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="
                Form.invalid ||
                courseExamWork.value + courseTermWork.value !=
                  courseCredits.value
              "
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
