<!-- [ngStyle]="sideBarOpen ? {'transition' : '1s'} : {'transition': '2s'}" -->
<div class="bodyy" [ngClass]="sideBarOpen ? 'nav-md' : 'nav-sm'">
  <div class="container body nav-small">
    <div class="col-md-3 left_col smaller">
      <div class="left_col scroll-view nav-small">
        <div class="navbar nav_title" style="border: 0">
          <a class="site_title d-flex align-items-center hider">
            <span><a style="color: white" routerLink="courses">Control System</a></span></a>
        </div>
        <div class="clearfix"></div>
        <div class="profile clearfix hider">
          <div class="profile_pic">
            <img src="\assets\download.jfif" alt="..." class="img-circle profile_img rounded-circle" />
          </div>
          <div class="profile_info">
            <span>Welcome,</span>
            <h2>{{ userName }}</h2>
          </div>
          <div class="clearfix"></div>
        </div>

        <br />

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3 class="hider">General</h3>
            <ul class="nav side-menu mar">
              <li (click)="clickEvent('home')" [ngClass]="toggleDisplay['home'] ? 'active' : ''">
                <a><i class="fa fa-home"></i> Courses
                  <span class="fa fa-chevron-down float-end"></span>
                  <!-- <i class="fa fa-caret-down float-end"></i> -->
                </a>
                <ul class="nav child_menu nav-childs" [ngStyle]="{
                    display: toggleDisplay['home'] ? 'block' : 'none'
                  }">
                  <li routerLinkActive="current-page">
                    <a routerLink="courses">Courses</a>
                  </li>
                  <li routerLinkActive="current-page">
                    <a routerLink="add-course">Add Course</a>
                  </li>
                  <li routerLinkActive="current-page">
                    <a routerLink="add-courses">Add Courses</a>
                  </li>
                  <li routerLinkActive="current-page">
                    <a routerLink="course-dashboard">Course Dashboard</a>
                  </li>
                  <!--<li><a href="index3.html">Dashboard3</a></li> -->
                </ul>
              </li>
              <li (click)="clickEvent('forms')" [ngClass]="toggleDisplay['forms'] ? 'active' : ''">
                <a><i class="fa fa-edit"></i> Students
                  <span class="fa fa-chevron-down float-end"></span>
                  <!-- <i class="fa fa-caret-down float-end"></i> -->
                </a>
                <ul class="nav child_menu nav-childs" [ngStyle]="{
                    display: toggleDisplay['forms'] ? 'block' : 'none'
                  }">
                  <li routerLinkActive="current-page">
                    <a routerLink="add-students">Add students</a>
                  </li>
                  <li routerLinkActive="current-page">
                    <a routerLink="students-page">All students</a>
                  </li>
                  <!-- <li><a routerLink="form_advanced.html">Advanced Components</a></li> -->
                </ul>
              </li>
              <li (click)="clickEvent('users')" [ngClass]="toggleDisplay['users'] ? 'active' : ''">
                <a><i class="fa fa-lock"></i> Admin
                  <span class="fa fa-chevron-down float-end"></span>
                  <!-- <i class="fa fa-caret-down float-end"></i> -->
                </a>
                <ul class="nav child_menu nav-childs" [ngStyle]="{
                    display: toggleDisplay['users'] ? 'block' : 'none'
                  }">
                  <li routerLinkActive="current-page">
                    <a routerLink="all-users">Users</a>
                  </li>
                  <li routerLinkActive="current-page">
                    <a routerLink="all-courses">All Courses</a>
                  </li>

                  <li routerLinkActive="current-page">
                    <a routerLink="add-user">Add User</a>
                  </li>
                  <li routerLinkActive="current-page">
                    <a routerLink="admin-log">Activity Log</a>
                  </li>
                  <li routerLinkActive="current-page">
                    <a routerLink="settings">Settings</a>
                  </li>
                  <!-- <li><a routerLink="form_advanced.html">Advanced Components</a></li> -->
                </ul>
              </li>
              <li (click)="clickEvent('semester')" [ngClass]="toggleDisplay['semester'] ? 'active' : ''">
                <a><i class="fa fa-lock"></i> Semester
                  <span class="fa fa-chevron-down float-end"></span>
                  <!-- <i class="fa fa-caret-down float-end"></i> -->
                </a>
                <ul class="nav child_menu nav-childs" [ngStyle]="{
                                  display: toggleDisplay['semester'] ? 'block' : 'none'
                                }">
                  <li routerLinkActive="current-page">
                    <a routerLink="add-semester">Add Semester</a>
                  </li>
                  <li routerLinkActive="current-page">
                    <a routerLink="configure-semester">Configure Semester</a>
                  </li>

                  
                </ul>
              </li>
              <!-- additional list items here -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>