<!-- [ngStyle]="sideBarOpen ? {'transition' : '1s'} : {'transition': '2s'}" -->
<div class="bodyy" [ngClass]="sideBarOpen ? 'nav-md' : 'nav-sm'">
  <div class="container body nav-small">
    <div class="col-md-3 left_col smaller">
      <div class="left_col scroll-view nav-small">
        <div class="navbar nav_title" style="border: 0">
          <a class="site_title d-flex align-items-center hider">
            <span
              ><a style="color: white" routerLink="courses"
                >Control System</a
              ></span
            ></a
          >
        </div>
        <div class="clearfix"></div>
        <div class="profile clearfix hider">
          <div class="profile_pic">
            <img
              src="\assets\download.jfif"
              alt="..."
              class="img-circle profile_img rounded-circle"
            />
          </div>
          <div class="profile_info">
            <span>Welcome,</span>
            <h2>{{ userName }}</h2>
          </div>
          <div class="clearfix"></div>
        </div>

        <br />

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3 class="hider">General</h3>
            <ul class="nav side-menu mar">
              <li
                (click)="clickEvent('home')"
                [ngClass]="toggleDisplay['home'] ? 'active' : ''"
              >
                <a
                  ><i class="fa fa-home"></i> Courses
                  <span class="fa fa-chevron-down float-end"></span>
                </a>
                <ul
                  class="nav child_menu nav-childs"
                  [ngStyle]="{
                    display: toggleDisplay['home'] ? 'block' : 'none'
                  }"
                >
                  <li routerLinkActive="current-page">
                    <a routerLink="courses" (click)="clickEvent('home')"
                      >Courses</a
                    >
                  </li>
                  <li routerLinkActive="current-page">
                    <a routerLink="add-course" (click)="clickEvent('home')"
                      >Add Course</a
                    >
                  </li>
                  <li routerLinkActive="current-page">
                    <a
                      routerLink="course-dashboard"
                      (click)="clickEvent('home')"
                      >Course Dashboard</a
                    >
                  </li>
                  <li routerLinkActive="current-page">
                    <a routerLink="compare-courses" (click)="clickEvent('home')"
                      >Compare Courses</a
                    >
                  </li>
                </ul>
              </li>
              <!-- <li
                (click)="clickEvent('forms')"
                [ngClass]="toggleDisplay['forms'] ? 'active' : ''"
              >
                <a
                  ><i class="fa fa-edit"></i> Students
                  <span class="fa fa-chevron-down float-end"></span>
                </a>
                <ul
                  class="nav child_menu nav-childs"
                  [ngStyle]="{
                    display: toggleDisplay['forms'] ? 'block' : 'none'
                  }"
                >
                  <li routerLinkActive="current-page">
                    <a routerLink="add-students" (click)="clickEvent('forms')"
                      >Add students</a
                    >
                  </li>
                  <li routerLinkActive="current-page">
                    <a routerLink="students-page" (click)="clickEvent('forms')"
                      >All students</a
                    >
                  </li>
                </ul>
              </li> -->
              <li
                (click)="clickEvent('users')"
                [ngClass]="toggleDisplay['users'] ? 'active' : ''"
              >
                <a
                  ><i class="fa fa-lock"></i> Admin
                  <span class="fa fa-chevron-down float-end"></span>
                </a>
                <ul
                  class="nav child_menu nav-childs"
                  [ngStyle]="{
                    display: toggleDisplay['users'] ? 'block' : 'none'
                  }"
                >
                  <li routerLinkActive="current-page">
                    <a routerLink="all-users" (click)="clickEvent('users')"
                      >Users</a
                    >
                  </li>
                  <li routerLinkActive="current-page">
                    <a routerLink="all-courses" (click)="clickEvent('users')"
                      >All Courses</a
                    >
                  </li>

                  <li routerLinkActive="current-page">
                    <a routerLink="add-user" (click)="clickEvent('users')"
                      >Add User</a
                    >
                  </li>
                  <li routerLinkActive="current-page">
                    <a routerLink="admin-log" (click)="clickEvent('users')"
                      >Activity Log</a
                    >
                  </li>
                  <li routerLinkActive="current-page">
                    <a routerLink="settings" (click)="clickEvent('users')"
                      >Settings</a
                    >
                  </li>
                </ul>
              </li>
              <li
                (click)="clickEvent('semester')"
                [ngClass]="toggleDisplay['semester'] ? 'active' : ''"
              >
                <a
                  ><i class="fa fa-calendar"></i> Semester
                  <span class="fa fa-chevron-down float-end"></span>
                  <!-- <i class="fa fa-caret-down float-end"></i> -->
                </a>
                <ul
                  class="nav child_menu nav-childs"
                  [ngStyle]="{
                    display: toggleDisplay['semester'] ? 'block' : 'none'
                  }"
                >
                  <li routerLinkActive="current-page">
                    <a routerLink="add-semester">Add Semester</a>
                  </li>
                  <li routerLinkActive="current-page">
                    <a routerLink="configure-semester">Configure Semester</a>
                  </li>
                </ul>
              </li>
              <!-- additional list items here -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
