<div class="container-fluid row">
  <header class="col-10">
    <div class="d-flex">
      <div class="p-2">
        <h5>Course ID</h5>
        <p>IS321</p>
      </div>
      <div class="p-2">
        <h5>Course Name</h5>
        <p>Database</p>
      </div>
      <div class="p-2">
        <h5>Course Department</h5>
        <p>IS</p>
      </div>
      <div class="p-2">
        <h5>Course Instructor</h5>
        <p>Dr. John Doe</p>
      </div>
      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div> -->
      <!-- Example single danger button -->
      <div class="dropdown">
        <button
          (click)="shown()"
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Grades Options
        </button>
        <div
          [ngClass]="{ show: isShown }"
          class="dropdown-menu"
          aria-labelledby="dropdownMenuButton"
        >
          <a class="dropdown-item" (click)="f.click()" style="cursor: pointer"
            ><input
              type="file"
              #f
              style="display: none"
              (change)="onFileChange($event)"
              appReadExcel
              [file]="file"
              (uploaded)="onExcelUpload($event)"
            />Upload Grades
          </a>
          <a class="dropdown-item" style="cursor: pointer">Export grades</a>
          <a
            class="dropdown-item"
            style="cursor: pointer"
            (click)="deleteAllGrades()"
            >Delete all grades</a
          >
        </div>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="form-check col-6 mb-3 d-flex justify-content-start">
      <label
        class="btn btn-secondary"
        data-toggle-class="btn-primary"
        data-toggle-passive-class="btn-default"
      >
        <input
          type="checkbox"
          (change)="toggleStudentsWithNoGrades()"
          class="join-btn"
        />
        &nbsp; show students with no grades &nbsp;
      </label>
    </div>
    <div class="search col-6 mb-3">
      <div class="input-group">
        <input
          type="search"
          class="form-control bg-white"
          placeholder="Search for..."
          #searchInput
          (input)="searchStudent(searchInput.value)"
        />
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">Go!</button>
        </span>
      </div>
    </div>

    <!-- checkbox for show stud with no grades -->
  </div>

  <table class="tb table table-bordered table-hover table-responsive-md">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Course Work</th>
        <th scope="col">Exam Work</th>
        <th scope="col">Total</th>
        <th scope="col">Grade</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of filteredStudents; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>
          <input
            type="number"
            [max]="40"
            [min]="0"
            [(ngModel)]="student.termWork"
            [disabled]="!student.editable"
            #termWorkInput="ngModel"
            style="width: 100%"
          />
          <div *ngIf="termWorkInput.invalid && termWorkInput.dirty">
            <div
              style="margin-left: -5px"
              *ngIf="termWorkInput.value > 40"
              class="error"
            >
              Term Work should not exceed 40
            </div>
            <div
              style="margin-left: -5px"
              *ngIf="termWorkInput.value < 0"
              class="error"
            >
              Term Work should not be less than 0
            </div>
          </div>
        </td>
        <td>
          <input
            type="number"
            [max]="60"
            [min]="0"
            [(ngModel)]="student.examWork"
            required
            [disabled]="!student.editable"
            #examWorkInput="ngModel"
            style="width: 100%"
          />
          <div *ngIf="examWorkInput.invalid && examWorkInput.dirty">
            <div
              style="margin-left: -5px"
              *ngIf="examWorkInput.value > 60"
              class="error"
            >
              Exam Work should not exceed 60
            </div>
            <div
              style="margin-left: -5px"
              *ngIf="examWorkInput.value < 0"
              class="error"
            >
              Exam Work should not be less than 0
            </div>
          </div>
        </td>
        <td>{{ student.total }}</td>

        <td>{{ student.grade }}</td>

        <td>
          <button
            *ngIf="!student.editable"
            style="margin-right: 5px"
            class="btn btn-secondary btn-sm"
            type="button"
            (click)="edit(i)"
          >
            Edit
          </button>
          <button
            *ngIf="student.editable"
            style="margin-right: 5px"
            class="btn btn-secondary btn-sm"
            type="button"
            [disabled]="
              termWorkInput.value > 40 ||
              examWorkInput.value > 60 ||
              termWorkInput.value < 0 ||
              examWorkInput.value < 0
            "
            (click)="save(i, termWorkInput.value, examWorkInput.value)"
          >
            Save
          </button>
          <button
            *ngIf="student.editable"
            class="btn btn-secondary btn-sm"
            type="button"
            (click)="cancel(i)"
          >
            Cancel
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- 
<app-modal [show]="showModal" (closeModal)="closeModal()">
  <div modal-title>Modal Title</div>
  <div modal-body>
    <p>Modal content goes here...</p>
  </div>
  <div modal-footer>
    <button (click)="closeModal()">Close</button>
  </div>
</app-modal> -->
