<div class="container-fluid row w-100">
  <header class="col-10">
    <div class="d-flex">
      <div class="p-2">
        <h5>Course ID</h5>
        <p>{{ courseCode }}</p>
      </div>
      <div class="p-2">
        <h5>Course Name</h5>
        <p>{{ courseName }}</p>
      </div>
      <div class="p-2">
        <h5>Course Department</h5>
        <p>{{ deptName }}</p>
      </div>
      <div class="p-2">
        <h5>Course Instructor</h5>
        <p>Dr {{ instructor }}</p>
      </div>
      <div class="dropdown">
        <button class="btn btn-prim dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Course Options
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="f.click()" style="cursor: pointer"><input type="file" #f
              style="display: none" #fileInput1 (change)="
                onExcelUploadGrades(fileInput1.files); fileInput1.value = null
              " />Upload Grades
          </a>
          <a class="dropdown-item" (click)="fG.click()" style="cursor: pointer"><input type="file" #fG
              style="display: none" #fileInput (change)="onFileSelected(fileInput.files); fileInput.value = null" />Add
            Student Names
          </a>
          <a class="dropdown-item" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#exampleModal"><input
              style="display: none" />Add One Student
          </a>
          <a class="dropdown-item" style="cursor: pointer" (click)="exportGrades()">Export Grades</a>
          <a class="dropdown-item" style="cursor: pointer" routerLink="course-settings">Course Settings</a>
          <a class="dropdown-item" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#exampleModall">Delete
            All Grades</a>
          <a class="dropdown-item" style="cursor: pointer" data-bs-toggle="modal"
            data-bs-target="#exampleModalll">Delete All Students</a>
        </div>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-6 mb-3">
      <label class="btn join-btn" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
        <input type="checkbox" (change)="toggleStudentsWithNoGrades()" class="join-btn" />
        &nbsp; show students with no grades &nbsp;
      </label>
    </div>
    <div class="search col-6 mb-3">
      <div class="input-group">
        <input type="search" class="form-control bg-white" placeholder="Search for..." #searchInput
          (input)="searchStudent(searchInput.value)" />
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">Go!</button>
        </span>
      </div>
    </div>

    <!-- checkbox for show stud with no grades -->
  </div>
  <div class="d-flex justify-content-center mt-5">
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  </div>
  <table class="tb table table-bordered table-hover table-responsive-md" *ngIf="!isLoading">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" class="sorting">
          <div class="d-flex justify-content-between">
            <span>ID</span>
            <i class="fa fa-lg fa-sort" (click)="sortBy('student_id')"></i>
          </div>
        </th>
        <th scope="col" class="sorting">
          <div class="d-flex justify-content-between">
            <span class="me-auto">Name</span>
            <i class="fa fa-lg fa-sort" (click)="sortBy('name')"></i>
          </div>
        </th>
        <th scope="col" class="sorting">
          <div class="d-flex justify-content-between">
            <span>Course Work</span>
            <i class="fa fa-lg fa-sort" (click)="sortBy('term_work')"></i>
          </div>
        </th>
        <th scope="col" class="sorting">
          <div class="d-flex justify-content-between">
            <span>Exam Work</span>

            <i class="fa fa-lg fa-sort" (click)="sortBy('exam_work')"></i>
          </div>
        </th>
        <th scope="col" class="sorting">
          <div class="d-flex justify-content-between">
            <span>Total</span>
            <i class="fa fa-lg fa-sort" (click)="sortBy('total_grade')"></i>
          </div>
        </th>
        <th scope="col" class="sorting">
          <div class="d-flex justify-content-between">
            <span>Grade</span>
          </div>
        </th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of filteredStudents; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ student.student_id }}</td>
        <td>{{ student.student.name }}</td>
        <td>
          <input type="number" [max]="40" [min]="0" [(ngModel)]="student.term_work" [disabled]="!student.editable"
            #termWorkInput="ngModel" style="width: 100%" />
          <div *ngIf="termWorkInput.invalid && termWorkInput.dirty">
            <div style="margin-left: -5px" *ngIf="termWorkInput.value > 40" class="error">
              Term Work should not exceed 40
            </div>
            <div style="margin-left: -5px" *ngIf="termWorkInput.value < 0" class="error">
              Term Work should not be less than 0
            </div>
          </div>
        </td>
        <td>
          <input type="number" [max]="60" [min]="0" [(ngModel)]="student.exam_work" required
            [disabled]="!student.editable" #examWorkInput="ngModel" style="width: 100%" />
          <div *ngIf="examWorkInput.invalid && examWorkInput.dirty">
            <div style="margin-left: -5px" *ngIf="examWorkInput.value > 60" class="error">
              Exam Work should not exceed 60
            </div>
            <div style="margin-left: -5px" *ngIf="examWorkInput.value < 0" class="error">
              Exam Work should not be less than 0
            </div>
          </div>
        </td>
        <td>{{ student.total_grade }}</td>

        <td>{{ student.grade }}</td>

        <td>
          <button *ngIf="!student.editable" style="margin-right: 5px" class="btn btn-secondary btn-sm" type="button"
            (click)="edit(i)">
            Edit
          </button>
          <button *ngIf="!student.editable" style="margin-right: 5px" class="btn btn-danger btn-sm"
            data-bs-toggle="modal" data-bs-target="#exampleModalToDelete" type="button"
            (click)="deletedStudentId = student.student_id">
            Delete
          </button>

          <button *ngIf="student.editable" style="margin-right: 5px" class="btn btn-secondary btn-sm" type="button"
            [disabled]="
              termWorkInput.value > 40 ||
              examWorkInput.value > 60 ||
              termWorkInput.value < 0 ||
              examWorkInput.value < 0
            " (click)="save(i, termWorkInput.value, examWorkInput.value)">
            Save
          </button>
          <button *ngIf="student.editable" class="btn btn-secondary btn-sm" type="button" (click)="cancel(i)">
            Cancel
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="exampleModalToDelete" tabindex="-1" aria-labelledby="exampleModalLabell" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="mb-3" class="col-md-12">
            <h4>Are you sure you want to delete this student?</h4>
            <button class="btn btn-primary me-2" data-bs-dismiss="modal" (click)="DeleteStudent(deletedStudentId)">
              Yes
            </button>
            <button class="btn btn-secondary" value="no" data-bs-dismiss="modal">
              No
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form #Form="ngForm" class="w-100" (ngSubmit)="onSubmit(Form)">
            <div class="mb-3" class="col-md-12">
              <label>Student ID :&nbsp;</label>
              <input type="text" class="form-control" id="studentId" name="studentId" ngModel required
                #studentId="ngModel" />
              <div *ngIf="studentId.invalid && studentId.touched" class="error">
                Please enter a valid Student ID.
              </div>
              <br />
            </div>
            <hr />
            <div class="mb-3" class="col-md-12">
              <label>Student Name :&nbsp;</label>
              <input type="text" class="form-control" id="studentName" name="studentName" ngModel required
                #studentName="ngModel" />
              <div *ngIf="studentName.invalid && studentName.touched" class="error">
                Please enter a valid Student Name.
              </div>
              <br />
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="Form.invalid">
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<app-modal [show]="showModal" (closeModal)="closeModal()">
  <div modal-title>Modal Title</div>
  <div modal-body>
    <p>Modal content goes here...</p>
  </div>
  <div modal-footer>
    <button (click)="closeModal()">Close</button>
  </div>
</app-modal> -->
<div class="modal fade" id="exampleModall" tabindex="-1" aria-labelledby="exampleModalLabell" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="mb-3" class="col-md-12">
            <h4>Are you sure you want to delete all grades?</h4>
            <button (click)="deleteAllGrades()" class="btn btn-primary me-2" value="yes" data-bs-dismiss="modal">
              Yes
            </button>
            <button class="btn btn-secondary" value="no" data-bs-dismiss="modal">
              No
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-modal></app-modal> -->

<div class="modal fade" id="exampleModalll" tabindex="-1" aria-labelledby="exampleModalLabell" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="mb-3" class="col-md-12">
            <h4>Are you sure you want to delete all students?</h4>
            <button [ngClass]="{ 'loading': isLoading }" (click)="deleteAllStudents()" class="btn btn-primary me-2"
              value="yes" data-bs-dismiss="modal">
              Yes
            </button>
            <button class="btn btn-secondary" value="no" data-bs-dismiss="modal">
              No
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->

<!--  -->
<app-modal (closeModal)="closeModal()" [show]="modalIsOpen">
  <div modal-title>Alert</div>
  <div modal-body>
    <p>
      There are {{ missingStudents.length }} missing students:
      {{ missingStudents }}
    </p>
  </div>
  <div modal-footer>
    <button class="btn btn-primary" (click)="closeModal()">Close</button>
  </div>
</app-modal>

<app-modal (closeModal)="closeModal2()" [show]="ISduplicated">
  <div modal-title>Alert</div>
  <div modal-body>
    <p>A student with ID {{ Form.value.studentId }} already exists.</p>
  </div>
  <div modal-footer>
    <button class="btn btn-primary" (click)="closeModal2()">Close</button>
  </div>
</app-modal>

<app-modal (closeModal)="closeModal3()" [show]="IsInvalid">
  <div modal-title>Alert</div>
  <div modal-body>
    <p>{{ errorMsg }}</p>
  </div>
  <div modal-footer>
    <button class="btn btn-primary" (click)="closeModal3()">Close</button>
  </div>
</app-modal>

<app-modal (closeModal)="closeModal4()" [show]="IsInvalidRecords">
  <div modal-title>Alert</div>
  <div modal-body>
    <p>{{ errorMsg2 }}</p>
  </div>
  <div modal-footer>
    <button class="btn btn-primary" (click)="closeModal4()">Close</button>
  </div>
</app-modal>

<app-modal (closeModal)="closeModal5()" [show]="IsInvalidRecords">
  <div modal-title>Alert</div>
  <div modal-body>
    <p>{{ errorMsg2 }}</p>
  </div>
  <div modal-footer>
    <button class="btn btn-danger" (click)="closeModal4()">Delete</button>
    <button class="btn btn-primary" (click)="closeModal4()">Close</button>
  </div>
</app-modal>