.but-style {
  display: flex;
  width: auto;
  justify-content: center;
}
.but-style button,
.btn-primary {
  background: var(--main-color);
  color: white;
}
.modal-content {
  background-color: var(--background-color-dark);
}

.modal select {
  background-color: var(--background-color);
}
