<div class="setup">
  <div class="container h-100">
    <div class="row h-100 justify-content-center">
      <div class="col-sm-10 col-lg-8 text-center">
        <form class="row g-3">
          <h1>Add New Department</h1>
          <hr />
          <div class="col-md-6">
            <label for="fullName" class="form-label"
              >Department Name<span class="required">*</span></label
            >

            <input
              class="form-control"
              data-validate-length-range="60 "
              data-validate-words="4 "
              name="departmentName"
              required
              ngModel
            />
            <div
              *ngIf="
                departmentName &&
                departmentName.invalid &&
                (departmentName.dirty || departmentName.touched)
              "
            ></div>
          </div>

          <div class="col-md-6">
            <label for="fullName" class="form-label"
              >Department Code<span class="required">*</span></label
            >

            <input
              class="form-control"
              data-validate-length-range="60 "
              data-validate-words="4 "
              name="departmentCode"
              required
              ngModel
            />
            <div
              *ngIf="
                departmentCode &&
                departmentCode.invalid &&
                (departmentCode.dirty || departmentCode.touched)
              "
            ></div>
          </div>
          <div class="ln_solid">
            <div class="form-group">
              <div class="col-md-6 but-style">
                <button
                  type="submit"
                  class="btn btn-lg my-2 mx-2"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModall"
                >
                  Add Department
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModall"
  tabindex="-1"
  aria-labelledby="exampleModalLabell"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="mb-3" class="col-md-12">
            <h4>
              Are you sure you want to end current semester and create new one?
            </h4>
            <hr />
            <div class="d-flex align-items-center justify-content-end">
              <button
                class="btn btn-primary me-2"
                value="yes"
                data-bs-dismiss="modal"
                type="submit"
              >
                Yes
              </button>
              <button
                class="btn btn-secondary"
                value="no"
                data-bs-dismiss="modal"
              >
                No
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
