<div class="profile">
  <app-snackbar
    #snackbar
    message="{{ message }}"
    type="{{ type }}"
  ></app-snackbar>
  <div
    class="container-fluid d-flex align-items-center justify-content-center h-100"
  >
    <div class="position-absolute top-50">
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    </div>
    <div class="row" *ngIf="!isLoading">
      <p class="col-md-12 fs-3">User Profile</p>
      <form class="col-md-12">
        <div class="row g-4">
          <div class="col-12">
            <div class="back p-3 rounded-3">
              <div class="row">
                <div class="col-sm-12 col-md-6 mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Enter your name"
                    disabled
                    value="{{ userName }}"
                  />
                </div>
                <div class="col-sm-12 col-md-6 mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Enter your email"
                    disabled
                    value="{{ userEmail }}"
                  />
                </div>
                <div class="col-sm-12 col-md-6 mb-3">
                  <label for="NationalID" class="form-label">National ID</label>
                  <input
                    type="text"
                    class="form-control"
                    id="NationalID"
                    disabled
                    value="{{ userNationalId }}"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-12 col-lg-3">
            <div class="row back py-3 rounded-3">
              <div class="col-md-12 text-center mb-3">
                <img
                  class="rounded-circle"
                  src="/assets/download.jfif"
                  alt="user image"
                  width="150"
                  height="150"
                />
              </div>
              <div class="col-md-12">
                <div class="d-flex justify-content-around">
                  <div class="">
                    <button class="btn btn-primary">Update</button>
                  </div>
                  <div class="">
                    <button class="btn btn-danger">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="col-sm-12 col-lg-12 mb-5">
            <div class="back p-4 rounded-3">
              <span class="fs-2">Update Password</span>
              <form (ngSubmit)="updatePass(Form.value)" #Form="ngForm">
                <div class="row g-3">
                  <div class="col-md-6">
                    <label for="current-password" class="form-label fs-4"
                      >Current Password</label
                    >
                    <input
                      name="current_password"
                      type="password"
                      class="form-control"
                      id="current-pass"
                      placeholder="Enter your password"
                      ngModel
                      #currentPassword="ngModel"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="new_password" class="form-label fs-4"
                      >New Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      placeholder="Enter your password"
                      name="new_password"
                      ngModel
                      #password="ngModel"
                    />
                    <div
                      *ngIf="
                        updatePasswordForm
                          .get('password')
                          .hasError('required') &&
                        updatePasswordForm.get('password').touched
                      "
                      class="error"
                    >
                      Password is required.
                    </div>
                    <div
                      *ngIf="
                        updatePasswordForm
                          .get('password')
                          .hasError('minlength') &&
                        updatePasswordForm.get('password').touched
                      "
                      class="error"
                    >
                      Password must have at least 8 characters.
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label
                      for="new_password_confirmation"
                      class="form-label fs-4"
                      >Confirm Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="c-password"
                      placeholder="Enter your password"
                      name="new_password_confirmation"
                      ngModel
                      #confirmPassword="ngModel"
                    />
                    <div
                      *ngIf="
                        updatePasswordForm
                          .get('confirmPassword')
                          .hasError('required') &&
                        updatePasswordForm.get('confirmPassword').touched
                      "
                      class="error"
                    >
                      Confirm Password is required.
                    </div>
                    <!-- <div
                      *ngIf="
                        updatePasswordForm.hasError('mismatch') &&
                        updatePasswordForm.get('confirmPassword').touched
                      "
                      class="error"
                    >
                      Passwords do not match.
                    </div> -->
                  </div>

                  <div class="col-md-12">
                    <button class="btn btn-primary">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
