/* :root {
  --main-color: #344e41;
  --main-color-light: #588157;
  --background-color: #a3b18a;
  --background-color-dark: #dad7cd;
  --nav-color: #344e41;
  --button-color: #344e41;
  --search-color: #6c757d;
  --text-color: #011627;
} */

/* :root {
  --main-color: #636c79;
  --main-color-light: #b185db;
  --background-color: #f2f2f2;
  --background-color-dark: #ffffff;
  --nav-color: #415a77;
  --button-color: #1b263b;
  --search-color: #6c757d;
  --text-color: #0d1b2a;
} */
:root {
  --main-color: #00110c;
  --main-color-light: #b185db;
  --background-color: #f8f7f1;
  --background-color-dark: #f1eee3;
  --nav-color: #415a77;
  --button-color: #1b263b;
  --search-color: #6c757d;
  --text-color: #0d1b2a;
}
/* :root {
  --main-color: #1b263b;
  --main-color-light: #b185db;
  --background-color: #e0e1dd;
  --background-color-dark: #778da9;
  --nav-color: #415a77;
  --button-color: #1b263b;
  --search-color: #6c757d;
  --text-color: #0d1b2a;
} */
/* :root {
  --main-color: #0d1b2a;
  --main-color-light: #b185db;
  --background-color: #e0e1dd;
  --background-color-dark: #778da9;
  --nav-color: #415a77;
  --button-color: #1b263b;
  --search-color: #6c757d;
  --text-color: #0d1b2a;
} */
/* :root {
  --main-color: #2a3f54;
  --main-color-light: #5f6986;
  --background-color: #f7f7f7;
  --nav-color: #ededed;
  --button-color: #2a3f54;
  --search-color: #6c757d;
  --text-color: #2a3f54;
} */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red !important;
}

.error {
  margin-left: 2px;
  /* margin-top: -10px; */
  margin-bottom: 10px;
  text-align: left;
  color: red;
}
