:root{
    --main-color:#2a3f54,
    --main-color-light:#5f6986,
    --background-color:#f7f7f7,
    --nav-color:#ededed,
    --button-color:#2a3f54,
    --search-color:#6c757d,
    --text-color:#2a3f54,
}