.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  /* background: var(--background-color-dark); */
  /* border: 1px solid #e6e9ed; */
  -webkit-column-break-inside: avoid;
  opacity: 1;
  transition: all 0.2s ease;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form h1{
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;
}

.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

.item {
  display: flex;
}

.form-group {
  margin-bottom: 10px;
}

form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.col-sm-3,
.col-md-3,
.col-sm-6,
.col-md-6 {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}

.btn {
  border-radius: 3px;
}

button,
.buttons,
.btn,
.modal-footer .btn + .btn {
  margin-bottom: 5px;
  margin-right: 5px;
}

.label-align {
  text-align: right;
}

.item input {
  transition: 0.42s;
}

.form-control {
  border-radius: 0;
  width: 100%;
  background-color: var(--background-color-dark);
}

.ln_solid {
  border-top: 1px solid #e5e5e5;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}

.x_title {
  border-bottom: 2px solid #e6e9ed;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}

.btn-success {
  background-color: var(--main-color);
  border-color: var(--background-color-dark);
}
.setup {
  background: var(--background-color);
  height: 130vh;
  /* choose ugly font family */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
form input, select {
  background: var(--background-color);
  border: 1px solid #dfe3e8;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: var(--text-color);
  display: block;
  font-size: 18px;
  height: 50px;
  line-height: 1.42857;
  margin-bottom: 10px;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.input-style{
  height: 20px !important;
  padding: 0 !important;
  margin: 0 !important;
}
form button {
  background: var(--button-color);
  /* border: 1px solid #16a085;
     */
  border: 1px solid #2a3f54;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 18px;
  height: 50px;
  line-height: 1.42857;
  margin-bottom: 10px;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.but-style {
  display: flex;

}
form button:hover {
  background: var(--main-color-light);
  border: 1px solid #1e2b3a;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 18px;
  height: 50px;
  line-height: 1.42857;
  margin-bottom: 10px;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.form-header {
  /* background: #1abb9c; */
  color: var(--text-color);
  /* padding: 20px; */
  text-align: center;
}

.brand {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  color: var(--text-color);
  text-shadow: 0 1px 0 #fff;
}

form label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--text-color);
}
form{
  background-color: var(--background-color-dark);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 20px;
}