<div class="setup">
  <div class="container h-100">
    <div class="row h-100 justify-content-center">
      <div class="col-sm-10 col-lg-8 text-center">
        <form #Form="ngForm" (ngSubmit)="editUserSubmit(Form.value)">
          <h1>Edit User</h1>
          <hr>
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name" aria-placeholder="User Name">User Name
              <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6">
              <input ngModel type="text" id="username" required="required" class="form-control" name="name" placeholder="User Name" />
            </div>
          </div>
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">Email <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6">
              <input ngModel type="email" id="email" name="email" required="required" class="form-control" placeholder="Email" />
            </div>
          </div>
          <div class="item form-group">
            <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align"
              aria-placeholder="password">password</label>
            <div class="col-md-6 col-sm-6">
              <input id="password" class="form-control" type="text" name="password" placeholder="password" ngModel />
            </div>
          </div>
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">Rules*</label>
            <div class="col-md-6 col-sm-6">
              <div id="Admin" class="btn-group" data-toggle="buttons">
                <label class="btn" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                  <input type="checkbox" name="is_admin" value="admin" class="join-btn input-style" ngModel />
                  &nbsp; Admin &nbsp;
                </label>
                <label class="btn" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                  <input type="checkbox" name="is_active" class="input-style" ngModel />
                  &nbsp; Activate &nbsp;
                </label>
              </div>
            </div>
          </div>
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">National ID <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6">
              <input id="NationalID" class="date-picker form-control" placeholder="National ID" type="number"
                required="required" name="national_id" ngModel />
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="item form-group">
            <div class="col-md-6 col-sm-6 offset-md-3 but-style">
              <button type="submit" class="btn btn-success">Submit</button>
              <button class="btn btn-secondary" type="button">Cancel</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12">
  <div class="x_panel">
    <!-- <div class="x_title">
      <h2 class="text-center">Edit User</h2>
    </div> -->
    <div class="x_content">
      <br />
      
    </div>
  </div>
</div>
